.input-wrapper {
  margin: 10px !important;
}

.input-field {
  width: 200px !important;
  height: 20px !important;
}

.button {
  width: 200px !important;
  height: 20px !important;
}

.container {
  text-align: center !important;
}

.input-error {
  position: absolute;
  padding: 8px;
  color: red;
  font-size: 13px;
}

.button-login {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: skyblue;
  margin: 20px;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
}

table td button {
  margin: 5px;
}

table img {
  width: 80px;
}